stages:
- release

variables:
  DOMAIN: grafana.alexos.dev
  GRAFANA_PASS: ${GRAFANA_PASSWORD}
  GRAFANA_OPERATOR_VERSION: v5.12.0

webhook:
  stage: release
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: al3xos/ci-tools:latest
  variables:
    IMAGE_NAME: europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/alertmanager-test-webhook
    NAMESPACE: metrics
  script:
    - alexos-cli build --image-name=$IMAGE_NAME --gcr-login --dockerfile=webhook.Dockerfile
    - alexos-cli scan code
    - alexos-cli scan secrets
    - alexos-cli scan container --image-name=$IMAGE_NAME
    - alexos-cli scan iac
    - alexos-cli deploy kubernetes --image-name=$IMAGE_NAME --namespace=$NAMESPACE --manifests=test-webhook

telemetry:
  stage: release
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: al3xos/ci-tools:latest
  script:
    - alexos-cli deploy kubernetes --manifests=prometheus --namespace=metrics --image-name=required-but-not-used --skip-rollout-check
    - kubectl rollout status sts/prometheus-mw -n=metrics --timeout=120s
    - alexos-cli deploy kubernetes --manifests=kube-state-metrics --namespace=metrics --image-name="registry.k8s.io/kube-state-metrics/kube-state-metrics" --image-tag="v2.13.0"
    - alexos-cli deploy kubernetes --manifests=kubelet --namespace=metrics --image-name=required-but-not-used
    - alexos-cli deploy kubernetes --manifests=node-exporter --namespace=metrics --image-name=required-but-not-used
    - alexos-cli deploy kubernetes --manifests=service-monitors --namespace=metrics --image-name=required-but-not-used

grafana:
  stage: release
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: al3xos/ci-tools:latest
  script:
    - alexos-cli deploy kubernetes --manifests=grafana-operator --namespace=metrics --image-name="ghcr.io/grafana/grafana-operator" --image-tag="v5.12.0" --skip-rollout-check
    - kubectl apply --server-side=true -f grafana-operator/crds/
    - sleep 10
    - echo "GF_SECURITY_ADMIN_USER=admin" > ./grafana/secret.tmp
    - echo "GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASS}" >> ./grafana/secret.tmp
    - alexos-cli deploy kubernetes --manifests=grafana --image-name="grafana/grafana" --image-tag="12.1.0" --namespace=metrics --skip-rollout-check
    - rm ./grafana/secret.tmp
    - sleep 30
    - alexos-cli deploy kubernetes --manifests=dashboards --namespace=metrics --image-name=required-but-not-used --skip-rollout-check

test-alerts:
  stage: release
  image:
    name: prom/prometheus
    entrypoint: [ "/bin/sh", "-c" ]
  script:
  - cd alerts/ && ./test-alerts.sh

alerts:
  stage: release
  needs:
    - test-alerts
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: al3xos/ci-tools:latest
  script: |

    SECRET_CONFIG=$(gcloud secrets versions access latest --secret="alert-manager" --project="${GCP_PROJECT_ID}")
    IAP_CLIENT_ID=$(echo "${SECRET_CONFIG}" | grep IAP_CLIENT_ID | awk -F= '{print $2}')
    SLACK_WEBHOOK_URL=$(echo "${SECRET_CONFIG}" | grep SLACK_WEBHOOK_URL | awk -F= '{print $2}')
    ALERTMANAGER_EMAIL_HOST=$(echo "${SECRET_CONFIG}" | grep ALERTMANAGER_EMAIL_HOST | awk -F= '{print $2}')
    ALERTMANAGER_EMAIL_USER=$(echo "${SECRET_CONFIG}" | grep ALERTMANAGER_EMAIL_USER | awk -F= '{print $2}')
    ALERTMANAGER_EMAIL_PASS=$(echo "${SECRET_CONFIG}" | grep ALERTMANAGER_EMAIL_PASS | awk -F= '{print $2}')
    export IAP_CLIENT_ID SLACK_WEBHOOK_URL ALERTMANAGER_EMAIL_HOST ALERTMANAGER_EMAIL_USER ALERTMANAGER_EMAIL_PASS

    alexos-cli deploy kubernetes \
      --manifests=alertmanager --namespace=metrics \
      --image-name=required-but-not-used --skip-rollout-check \
      --envvars IAP_CLIENT_ID,ALERTMANAGER_EMAIL_HOST,ALERTMANAGER_EMAIL_USER,ALERTMANAGER_EMAIL_PASS,SLACK_WEBHOOK_URL
    sleep 5
    kubectl rollout restart sts/alertmanager-mw -n=metrics
    kubectl rollout status sts/alertmanager-mw -n=metrics --timeout=120s

    cd alerts/
    uv venv
    uv run ./render-rules.py
    if [[ -f /tmp/alert-rules.yaml ]]; then
      kubectl apply -f /tmp/alert-rules.yaml
    else
      echo "/tmp/alert-rules.yaml does not exist. Check for validation errors above"
    fi
